{ 
    "extends": "airbnb/base",
    "plugins": [
      "react-hooks"
    ],
    "rules": {
      "no-underscore-dangle" : "off",
      "no-plusplus": "off",
      "react-hooks/rules-of-hooks": "error",
      "react-hooks/exhaustive-deps": "warn"
    }
}