<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Random Site Generator</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <script src="/assets/bundle.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" id="logoutButton" href="/logout">Log Out</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="changePassButton" href="/changePass">Change Password</a>
            </li>
        </ul>
    </div>
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" href="#">Random Website Generator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" id="randomSiteButton" href="/getSite">Get a Random Site</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="allSitesButton" href="/getAllSites">Get All Sites</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="findByTagButton" href="/getByTag">Get Sites By Tag</a>
            </li>
        </ul>
    </div>
  </nav>
  <section id="makeSite">
  </section>
  <div class="row">
    <div class="col-2" id="leftAd"><img src="/assets/img/beans.jpg" alt="beans"></div>
  
    <div class="col-8" id="sites"></div>
  
    <div class="col-2" id="rightAd"><img src="/assets/img/beans.jpg" alt="beans"></div>
  </div>
  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <p id="errorMessage">Wrong username or password</p>
    </div>
  </div>
  <script>
    // Javascript for handling the modal popup
    let modal = document.querySelector("#myModal");

    let span = document.querySelector(".close");

    span.onclick = function(){
      modal.style.display = "none";
    }

    window.onclick = function(event){
      if(event.target == modal){
        modal.style.display = "none";
      }
    }
  </script>
</body>
</html>